!!!
%head
  %meta{ charset:"utf-8" }
  %script{ src:"./main.js" }
%p
  My Key:
  %br
  %textarea#mykey{ rows:9, cols:140, readonly:true }
  %br
  %button#create create
%p
  Partner's Key:
  %br
  %textarea#partnerskey{ rows:9, cols:140 }
  %br
  %button#import import
%p
  Password:
  %input#password{ type:"text", readonly:true, value:"", size:50 }
  %br
  Password Digest:
  %input#digest{ type:"text", readonly:true, value:"", size:50 }
  %br
:javascript
  main();