!!!
-require "./mandihe"
%head
  %meta{ charset:"utf-8" }
  :javascript
    'use strict';
    const id = (str) => {
      return document.getElementById(str);
    };
    const createNewKey = ()=>{
      let u32a = new Uint32Array(7);
      crypto.getRandomValues(u32a);
      let r="";
      const chars = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz";
      for( let u of Array.from(u32a) ){
        for( let i=0 ; i<5 ; i++ ){
          r+=chars[u%chars.length];
          u  = (u/chars.length) | 0;
        }
      }
      console.log(r);
      return r;
    };
    const main = ()=>{
      const orgkey = "2vHf9XS0qAxVtyZF4bx02PsHepm4Z2lb";
      const newkey = createNewKey();
      const srcText = "#{excaped_file('key-exchange-helper.html')}".replace( orgkey, newkey );
      id("dl").href="data:text/html;base64,"+btoa(srcText);
    };
%h1 鍵交換支援！
%p
  以下のリンクをクリックし、ローカル環境でダウンロードした HTML を開いてください。
%p
  %a#dl{ href:"", download:"key-exchange-helper.html" } key-exchange-helper.html
:javascript
  main();